img {
    max-width: 100%;
}
h3 {
    font-family: 'Playfair Display', serif;
    color: #ececec;
}
h5 {
    font-family: 'Playfair Display', serif;
}
.scroll {
    max-height: 500px;
    overflow-y: auto;
}
.cardColor {
    background-color: #495867!important;
}

.cardBorder {
 border: none;
}