h2 {
    font-family: 'Playfair Display', serif;
}

#personal-photo {
    max-width: 250px;
}

#formContainer {
    max-width: 65%;
}

.card {
    height: 500px
}

.btn {
    background-color: #495867 !important;
    color: #ececec;
}
body {
    height: auto;
    background-color: #ececec;
}