h1 {
    font-family: 'Playfair Display', serif;
    color: #ececec;
}

a {
    color: #ececec !important;
}

.active {
    color: #495867 !important;
}

#customNavBar {
    background-color: #495867;
}
